.articleListItem{
    font-size: 28px;
    font-family: Arial;
    color: red;
    text-decoration: underline red;
    margin: 0 0 16px 0;
  }
  .item {
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border: 1px solid red;
    border-radius: 20px;
    padding: 16px;
    margin-bottom: 16px;
    background-image: linear-gradient(
        to right,
        rgba(200, 20, 20, 0.7),
        white 20%
    );
  }
  
  .item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  }
